@model IEnumerable<LabProjectsPortal.Models.Conversation>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">My conversations</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Create new conversation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category!.Title)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-primary" asp-action="Index" asp-controller="Messages" asp-route-conversation="@item.Id">Conversation</a>
                <a class="btn btn-danger" asp-action="Leave" asp-route-id="@item.Id">Leave</a>
            </td>
        </tr>
}
    </tbody>
</table>
