@model LabProjectsPortal.Dto.PostsCategoriesDto

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Posts</h1>
<link rel="stylesheet" href="~/css/posts_main.css">

<p>
    <a class="btn btn-info" asp-action="Create">Create New</a>
</p>

<select id="categoryDropdown" class="form-control">
    <option value="">Select a Category</option>
    @foreach (var category in Model.Categories)
    {
        <option value="@category">@category</option>
    }
</select>
<br>
<div class="container">
    <div class="center">
        <div class="col-md-7 col-xs-12 col-md-offset-3">
            <div class="panel" id="daily-feed">
                <div class="panel-body">
                    <ul class="list-group list-group-dividered list-group-full">
                        @foreach (var item in Model.Posts)
                        {
                            string _src = string.Format("/resources/images/avatar{0}.png", (new Random()).Next(1, 11));
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a class="avatar avatar-away" href="javascript:void(0)">
                                            <img src="@_src" alt="Avatar"><i></i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading" style="font-size:20px">
                                            <a class="name">@item.Publisher.FullName</a> posted on @item.Category.Title
                                        </h4>
                                        <small>@item.UploadedAt.DateTime</small>
                                        <div class="content well" style="font-size:18px">
                                            @item.Content
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("categoryDropdown").addEventListener("change", function () {
        var selectedCategory = this.value;
        if (selectedCategory) {
            window.location.href = "/Posts/Index?category=" + encodeURIComponent(selectedCategory);
        }
    });
</script>


